<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Évènements HVA: formulaire simple</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <script src="lib/angular.min.js"> </script>
    <script src="js/simpleForm.js"> </script>
  </head>

  <body ng-app="oaApp" ng-controller="oaCtl">
      <button ng-click="show()">Montre l'agenda</button>
      <button ng-click="showEvts()">Évènements</button>
      <span>{{waiting}}</span>
      <h1>{{agendadesc.data.title}} ({{agendadesc.data.uid}})</h1>
      <table>
          <tr ng-repeat="evt in agendaevts.data | orderBy:'-locations[0].dates[0].date'">
              <td>{{evt.locations[0].dates[0].date}}</td>
              <td>{{evt.locations[0].dates[0].timeStart}}</td>
              <td><a href="{{evt.link}}">{{evt.title.fr}}</a></td>
          </tr>
      </table>
  </body>

</html>
