<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Évènements HVA: formulaire simple</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <script src="lib/angular.min.js"> </script>
    <script src="js/simpleForm.js"> </script>
  </head>

  <body ng-app="oaApp" ng-controller="oaCtl">
     <button ng-click="showEvts()">Évènements</button>
      <button ng-click="showForm()">Formulaire</button>
      <span>{{waiting}}</span>
      <form ng-show="formDisplay">
          Titre: <input type="text" ng-model="agendaevt.title"/></br>
          Date: <input type="text" ng-model="agendaevt.date"/></br>
          Description: <input type="text" ng-model="agendaevt.desc"/></br>
          <button ng-click="addEvt()">Ajouter</button>
      </form>
      <section ng-show="evtsDisplay">
          <h1>{{agendadesc.data.title}} ({{agendadesc.data.uid}})</h1>
          <table>
              <tr ng-repeat="evt in agendaevts.data | orderBy:'-locations[0].dates[0].date'">
                  <td>{{evt.locations[0].dates[0].date}}</td>
                  <td>{{evt.locations[0].dates[0].timeStart}}</td>
                  <td><a href="{{evt.link}}">{{evt.title.fr}}</a></td>
              </tr>
          </table>
      </section>
  </body>

</html>
