<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Évènements HVA: formulaire simple</title>
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <script src="lib/angular.min.js"> </script>
    <script src="js/simpleForm.js"> </script>
  </head>

  <body ng-app="oaApp" ng-controller="oaCtl">
      <button ng-click="show()">Montre l'agenda</button>
      <button ng-click="showEvts()">Évènements</button>
      <h1>{{agendadesc.data.title}} ({{agendadesc.data.uid}})</h1>
      <ul>
          <li ng-repeat="evt in agendaevts.data">
              <a href="{{evt.link}}">{{evt.title.fr}}</a></li>
      </ul>
  </body>

</html>
